html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#header{
    width: 100%;
}

#main{
    flex: 1;
}

#main > .row, #main-menu{
    height: 100%;
}

#main > .row{
    margin-right: 0px;
}

#main-menu .nav-link{
    color: #fff;
}

#main-menu .nav-link.active{
    background: #343a40;
}

#content{
    padding: 20px;
}

trix-editor{
    min-height: 400px;
}